[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Keras-Applications = "==1.0.8"
Keras-Preprocessing = "==1.1.0"
pybind11 = "*"
six = "*"
wheel = "*"
mock = "*"
jupyter = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.f4ef91b]
path = "./tensorflow-2.6.0-cp39-none-linux_aarch64.whl"
